/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-family: "Bebas Neue", cursive;
}
.nav-link {
  margin: 0px 15px;
}
