/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-family: "Bebas Neue", cursive;
}
.nav-link {
  margin: 0px 15px;
}
.button-color {
  width: 170px;
  height: 60px;
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
  border-radius: 10px;
}
.custom-color {
  color: #363958;
}
.price-color {
  font-weight: 900;
  font-size: 36px;
}
.pic-size {
  width: 599px;
  height: 354px;
}
.logo-size {
  width: 85px;
  height: 87px;
}
